'scopeName': 'source.vp'
'name': 'Valkyrie Profile'
'fileTypes': ['vp']
'patterns': [
	{
		'match': '^---|!!!$'
		'name': 'keyword language vp'
	},
	{
		'match': '^[^\t]*$',
		'name': 'entity name function vp'
	},
	{
		'match': '^\t{2}.*$'
		'name': 'constant language vp'
	},
	{
		'match': '//.*$'
		'name': 'comment language vp'
	}
]
